.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h2 {
  padding: 1rem 0rem;
}

h3 {
  font-size: 22px !important;
  padding: 0rem 3rem;
}

p {
  padding: 0rem 1rem;
}

button {
  border-radius: 5px !important;
  border: 2px solid #4a6330;
  padding: 5px 12px;
  background: white;
  color: #4a6330;
}

button:hover {
  background: #4a6330;
  color: white;
}

img {
  margin: 2vw 1vw 2vw 2vw;
  height: 50px;
}

.card-body {
  background: #B2C1A4;
}

.child {
  display: inline-block;
  color: #4a6330;
  padding: 5pt 5pt 5pt 0pt;
}